@{
    ViewData["Title"] = "Download page";
}

<div id="downloadFormContrainer">
    <form action="." method="post">
        <label for="myString">String:</label>
        <input type="text" id="downloadForm" name="fileName" required><br><br>

        <input type="submit" value="Submit">
    </form>
</div>